#main_container {
  display: flex;
  flex-direction: row;
  background-image: url("../images/bg2.jpg");
}

.numpad_area div{
    width: 100%;
    height: 100%;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: lighter;
    text-align: center;
    line-height: 3;
    cursor: pointer;
    transition: background-color 0.2s ease
}
.numpad_area div:active{
    width: 100%;
    height: 100%;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.0);
    font-weight: lighter;
    text-align: center;
    line-height: 3;
}
.numpad_area div:hover{
  width: 100%;
  height: 100%;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: lighter;
  text-align: center;
  line-height: 3;
}

.numpad_area{
  width: 100%;
  height: 0;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  background:rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  place-items: center;
}

.numpad_area {
  display: none;
  transition: height 0.3s ease;
}

.numpad_area.expanded {
  display: grid;
  height: 100%;
}


.center-div {
    display: flex;        /* 启用Flexbox布局 *         /* 容器高度设置为视口高度的100% */
    /* 其他样式，如宽度、背景色等 */
    width: 100%;           /* 容器宽度设置为100% */
    flex-direction: column;
    height:100vh;
  }
#input_area {
    position: relative;
    height: 50%;
    width: 100%;
    background:rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    cursor: pointer;
}
#output_area {
    position: relative;
    height: 50%;
    width: 100%;
    background:rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.search_bar {
    display: inline-block;
    position: relative;
    left: 5%;
    top: 10%;
    width: 160px;
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    cursor: pointer;
    border-color: gray;
    border-width: 0.5px;
    border-style: solid;
  }


.embedded-content {
  display: none; /* 默认不显示嵌入的内容 */
  position: relative;
  left: 5%;
  top: 10%;
  z-index: 1000;
}


.numpad_area > div:nth-child(4),
.numpad_area > div:nth-child(8),
.numpad_area > div:nth-child(12),
.numpad_area > div:nth-child(15){
  background-color:rgba(255, 255, 255, 0.7);
}
.numpad_area > div:nth-child(13){
  grid-column: span 2;

}

.numpad_area.folded {
  display: none;
}

.numpad_area.expanded #main_container{
  height: 50%;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100vh;
  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
  color: white;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar .option:hover{
  background-color: rgba(100,100,255,0.6);
}

.sidebar #numpad_exp_fold{
  position: absolute;
  bottom: 5.5%;
}

.sidebar.expanded #numpad_exp_fold{
  display: none;
}

.toggle-button{
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(180deg);
  }
}

.sidebar.expanded + .toggle-button {
  animation: rotate 0.3s forwards;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 10%;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 16px;
  color: black;
}

.options {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.option {
  display: flex;
  align-items: center;
  padding: 25%;
  cursor: pointer;
  white-space: nowrap;
}

.option img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.option .option_text {
  display: none;
  color: black;
  padding: 10px;
}

/* 展开侧边栏时的样式 */
.sidebar.expanded {
  width: 200px; /* 展开后的宽度 */
}

.sidebar.expanded .option .option_text {
  display: inline; /* 显示选项文本 */
}

