.center_div {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../images/bg3.jpg);
    background-size: 100%;
}

.header {
    height: 6vh;
    background-color: white;
}

#title {
    text-align: center;
    position: relative;
    top: 15px;
}

.slides {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21vh;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#testimonial_text {
    position: relative;
    left: 10%;
    top: 30%;
    font-size: 150%;
}

#testimonials>img {
    position: absolute;
    height: 22vh;
    padding: -1vh;
}

.functions {
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

.functions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.functions>div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.functions>div:nth-child(1) {
    grid-column: span 2;
    height: 90%;
    width: 100%;
}

.functions>div:nth-child(1)>div {
    grid-column: span 2;
    width: 87%;
}

.functions>div:nth-child(2) {
    margin-left: 4vw;
    height: 24vh;
    grid-row: span 2;
}

.functions>div:nth-child(3),
.functions>div:nth-child(4) {
    margin-right: 4vw;
}

.functions>div>div {
    background-color: #72d1e3;
    width: 40vw;
    height: 100%;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.functions>div>div:hover {
    background-color: #a3e0ec;
    cursor: pointer;
}

.functions>div>div>img {
    height: 10.25vh;
}

.functions>div:nth-child(2)>img {
    height: 10vh;
}

.plate {
    position: relative;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.plate>div {
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 70%;
    border-radius: 5px;
    font-size: 70%;
    text-align: center;
    color: black;
    padding-bottom: -0.5vh;
}

.plate>div:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.plate>div>p {
    position: relative;
    top: -0.5vh;
}

.plate>div>img {
    position: relative;
    top: 0.5vh;
    height: 4vh;
}

html,
body {
    margin: 0;
    padding: 0;
}

.carousel-item {
    height: 11vh;
    position: absolute;
    left: -10vh;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    transition: transform 1s ease-in-out;
}

.carousel-container {
    position: absolute;
    height: 30vh;
    perspective: 55vh;
    transform-style: preserve-3d;
}