.center_div {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../images/bg3.jpg);
    background-size: 100%;
    aspect-ratio: 9 / 18;
}
.header {
    height: 6vh;
    background-color: white;
}
#title {
    text-align: center;
    position: relative;
    top: 15px;
}
.slides {
    height: 30vh;
}

#testimonials {
    height: 20vh;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(10px);
    border-top-left-radius:40px;
    border-top-right-radius: 40px;
    text-align: left;
}

#testimonial_text {
    position:relative;
    left: 10%;
    top: 30%;
    font-size: 150%;
}

#testimonials > img{
    position: relative;
    height: 20vh;
}

.functions {
    height: 40vh;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(10px);
}

.functions {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}

.functions > div {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color:#ffd000;
    text-align: center;
    justify-items:center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.functions > div:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.functions > div:nth-child(1) {
    flex-direction: row;
    grid-column: span 3;
    border-radius: 50px;
    width: 240px;
    height: 70px;
}

.functions > #start_conv_button >#go_button {
    position: relative;
    padding: 15%;
    width: 10%;
    border-radius: 50px;
    top:-2%;
    right: -11%;
    background-color: rgb(255, 255, 255);
}

.functions > div:nth-child(2){
    margin-left: 15px;
}

.functions > div:nth-child(4){
    margin-right: 15px;
}

.functions > div:nth-child(2),
.functions > div:nth-child(3),
.functions > div:nth-child(4){
    width: 120px;
    height: 100px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background-color: #ffefc0;  
}

.functions > div:nth-child(2),
.functions > div:nth-child(3),
.functions > div:nth-child(4):hover{
    background-color: aliceblue;    
}

.plate {
    position: relative;
    height:11vh;
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(20px);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

.plate > div{
    display:flex;
    flex-direction: column;
    font-size: 70%;
    text-align: center;
    color: black;
}

