.center_div {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../images/bg2.jpg);
    background-size: 170%;
    min-width: 480px;
}
.header {
    height: 7vh;
    background-color: white;
}
#title {
    text-align: center;
    position: relative;
    top: 15px;
}
.slides {
    height: 30vh;
}

#testimonials {
    height: 21vh;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    border-top-left-radius:40px;
    border-top-right-radius: 40px;
    text-align: left;
}

#testimonial_text {
    position:absolute;
    padding: 40px;
    font-size: 25px;
}

#testimonials > img{
    position: absolute;
    right: 25%;
    top:-10px;
    z-index: 1000;
}

.functions {
    height: 33vh;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
}

.functions {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
}

.functions > div {
    padding: 5%;
    background-color:#ffd34e;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25);
}

.functions > div:nth-child(1) {
    grid-column: span 3;
    border-radius: 50px;
    width: 200px;
    height: 4vh;
}

.functions > div:nth-child(2){
    margin-left: 15px;
}

.functions > div:nth-child(4){
    margin-right: 15px;
}

.functions > div:nth-child(2),
.functions > div:nth-child(3),
.functions > div:nth-child(4){
    width: 120px;
    height: 80px;
    margin-bottom: px;
    background-color: rgba(255,235,70,0.6);
    
}

.plate {
    height:9vh;
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(20px);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

.plate > div{
    font-size: 70%;
    text-align: center;
    color: black;

}